<%- include('partials/header',{ product: product }); -%>

<header class="header-bg">
  <div class="smoothie">
    <img src="/bread.png" alt="">
  </div>
  <div class="headings">
    <h2>Pastry Products</h2>
    <h3>By Sellers who sells Pastries</h3>
    <a href="/productpage" class="btn">View Products</a>
  </div>
</header>

<%- include('partials/footer'); -%>
